# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sesión privada de WhatsApp (NO subir a GitHub por seguridad)
auth_info_baileys/

# Archivos de entorno y temporales
.env
.env.local
.DS_Store
Thumbs.db
*.log
